@import './vendor/cutereset.less';

@yellow: #F1C40F;
@orange: #F39C12;
@light-gray: #BDC3C7;
@lightest-gray: #ECF0F1;
@border-radius: 2px;

@blue: #3498DB;
@dark-blue: #2980B9;

@gray: #95A5A6;

.base-font {
  font-family: Poppins;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 600;
}

body {
  .base-font;
}

.swtimer {
  padding: 10vmin 5vmin;
  max-width: 980px;
  margin: 0 auto;
}

.sidebar {
  width: 20em;
}

.share {
  background: @lightest-gray;
}

// utils
input[type='text'], .button {
  height: 2.618rem;
  line-height: 2.618rem;
  padding: 0 1rem;
}

input[type='text'] {
  .base-font;
  font-size: 0.95em;
  display: block;
  width: 100%;
  margin: 0.5rem 0 1.5rem;
  border: 1px solid darken(@lightest-gray, 5%);

  &:focus {
    boder-color: darken(@yellow, 10%);
    outline: 3px solid @yellow;
  }
}

.button {
  .noselect;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  background: @orange;
  color: #fff;
  border-radius: @border-radius;
  cursor: pointer;

  &:hover {
    background: lighten(@orange, 10%);
  }

  &:active {
    background: darken(@orange, 10%);
    top: 1px;
  }

  &.-primary {
    background: @blue;
    &:hover {
      background: lighten(@blue, 10%);
    }

    &:active {
      background: darken(@blue, 10%);
      top: 1px;
    }
  }

  &.-grayed {
    background: @gray;
    &:hover {
      background: lighten(@gray, 10%);
    }

    &:active {
      background: darken(@gray, 10%);
      top: 1px;
    }
  }

  &.-disabled {
    background: @lightest-gray;
    color: #888;
    pointer-events: none;
    cursor: default;
  }

  &.-big {
    height: 1.25 * 2.618rem;
    line-height: 1.25 * 2.618rem;
    padding: 0 1.8rem 0 1.5rem;
    font-size: 1.25em;
  }

  .fa {
    margin-right: 0.5rem;
    font-size: 0.8em;
    top: -0.08em;
  }
}

.txt-center {
  text-align: center;
}

.capital-text {
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.85em;
  font-weight: 400;
}

.team-element {
  &.-active {
    font-weight: 600;
  }
}

.chart {
  line-height: 1;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%) translatex(-50%);
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 4vmin;
      padding-top: 0.25rem;
    }
  }
}

.timer {
  .capital-text {
    padding-bottom: 0.5rem;
  }
}