@import './vendor/cutereset.less';

@yellow: #F1C40F;
@orange: #F39C12;
@lightest-gray: #ECF0F1;
@border-radius: 2px;

@blue: #3498DB;
@dark-blue: #2980B9;

.base-font {
  font-family: Poppins;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 600;
}

body {
  .base-font;
}

.swtimer {
  padding: 10vmin 5vmin;
  max-width: 980px;
  margin: 0 auto;
}

.sidebar {
  width: 20em;
}

input[type='text'] {
  .base-font;
  display: block;
  width: 100%;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 1.5rem;
  border: 1px solid @lightest-gray;

  &:focus {
    boder-color: darken(@yellow, 10%);
    outline: 3px solid @yellow;
  }
}

.button {
  .noselect;
  border: 2px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  background: @orange;
  line-height: 1;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: @border-radius;
  cursor: pointer;

  &:hover {
    background: lighten(@orange, 10%);
  }

  &:active {
    background: darken(@orange, 10%);
    top: 1px;
  }

  &.-primary {
    background: @blue;
  }

  &.-big {
    padding: 0.75rem 2rem;
    font-size: 1.25em;
  }
}

.txt-center {
  text-align: center;
}

.capital-text {
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.75em;
  font-weight: 400;
}

.team-element {
  &.-active {
    font-weight: 600;
  }
}

.chart {
  line-height: 1;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%) translatex(-50%);
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 4vmin;
      padding-top: 0.25rem;
    }
  }
}